html {
  background-color: darkslategray;
}

.bg {
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
}

.bg1 {
    background-image: url('/assets/img/spaceBluePurple.jpg');
}

.bg2 {
    background-image: url('/assets/img/deepSpace.jpg');
}