$browser-icon-size: 100px;

.window.browser {
    display: flex;
    flex-direction: row;
    height: #{$window-header-browser-height}px;

    .icon-button {
        height: #{$window-header-browser-height - $window-header-divider-space}px;
        min-width: #{$window-header-browser-height - $window-header-divider-space}px;
        margin: #{$window-header-divider-space / 2}px #{$window-header-divider-space / 2}px #{$window-header-divider-space / 2}px #{$window-header-divider-space / 2}px;
    }

    .actions {
        background-color: lighten(_palette(bg-transparent-focused), 20%);

        .chakra-input {
            margin-top: 5px;
            margin-left: 1em;
        }
    }
}