#desktop-grid {
    display: grid;
    grid-template-columns: repeat($desktopGridNumColumns, minmax(50px, 10%));
    grid-template-rows: repeat(5, minmax(50px, 20%));
    grid-row-gap: 4px;
    grid-column-gap: 4px;
    grid-auto-flow: column;

    .desktop-icon-slot {
        width: #{$desktopIconSize}em;
        height: #{$desktopIconSize}em;
        margin: 1em 0;
        border-radius: 7px;
        background-color: transparent;
        border: 2px solid transparent;
        transition-property: background-color, border-color;
        transition-duration: 100ms;
        transition-timing-function: ease-in-out;

        &.selected {
            background-color: _palette(windows-select);
            border-color: _palette(windows-select-border);

            &:hover {
                cursor: grab;
            }

            p {
                -webkit-line-clamp: 2;
            }
        }

        >* {
            pointer-events: none;
        }

        img {
            height: #{$desktopIconSize - 2}em;
            margin: 0 auto;
            border-radius: 5px;
        }

        p {
            @extend .single-line;
            text-align: center;
            color: _palette(fg);
            text-shadow: 0 0 3px _palette(bg);
            margin-top: 1px;
        }
    }
}