.notification-drawer {
    color: white !important;

    hr {
        border-color: rgba(255, 255, 255, 0.25);
        // border-style: dashed;
        margin-left: 1.5em;
        margin-right: 1.5em;
        margin-bottom: 0.5em;
    }

    // #chakra-modal--body-2 {
    //     padding-left: 2em;
    //     padding-right: 2em;
    // }
}