$window-border-radius: 5px;
$window-border-line: 3px;
$window-header-height: 30;
$window-header-explorer-height: 50;
$window-header-divider-space: 10;
$window-shadow: 4px 6px 10px 5px rgba(0, 0, 0, 0.5);
$window-no-shadow: 0px 0px 0px 0px transparent;


.window {
    .window-header {
        &.explorer {
            display: flex;
            flex-direction: row;
            height: #{$window-header-explorer-height}px;

            .window-icon img {
                padding: 0.5em;
            }

            .v-divider {
                display: inline-block;
                border-left: 2px solid _palette(bg-divider);
                margin-top: #{$window-header-divider-space / 2}px;
                height: #{$window-header-explorer-height - $window-header-divider-space}px;

                &.icon-space {
                    margin-left: #{$window-header-explorer-height + $window-header-divider-space}px;
                    margin-right: #{$window-header-divider-space}px;
                }
            }

            .icon-button {
                position: relative;
                display: inline-block;
                height: #{$window-header-explorer-height - $window-header-divider-space}px;
                min-width: #{$window-header-explorer-height - $window-header-divider-space}px;
                margin: #{$window-header-divider-space / 2}px #{$window-header-divider-space / 2}px #{$window-header-divider-space / 2}px #{$window-header-divider-space / 2}px;
                background-color: _palette(bg-transparent);
                border-radius: $window-border-radius;
                opacity: 1;

                &:hover {
                    opacity: 0.8;
                }

                &.disabled {
                    opacity: 0.4;
                }

                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .content {
                overflow: hidden;
                max-height: #{$window-header-explorer-height}px;
            }

            .window-actions {
                position: relative;
            }
        }
    }

    .window-content.explorer {
        margin-top: #{$window-header-explorer-height + 3}px;
        height: calc(100% - #{$window-header-explorer-height + 3}px);
        padding-bottom: 0;

        .window-with-sidebar {
            display: flex;
            height: 100%;

            .sidebar {
                width: 200px;
                border-right: 3px solid _palette(bg-sidebar);

                .item {
                    cursor: pointer;
                    padding: 0.75em 1em;
                    transition: color 250ms ease-in-out;

                    &:hover {
                        color: rgba(0, 200, 255, 0.7);
                    }
                }
            }

            .offset-content {
                flex-grow: 1;

                .folder-contents {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    align-content: flex-start;

                    .explorer-icon {
                        margin: 0.5em 1em;
                        padding: 0.5em 0.5em 0.25em 0.5em;
                        max-height: 120px;
                        border-radius: 3px;
                        background-color: transparent;
                        border: 2px solid transparent;
                        transition-property: background-color, border-color;
                        transition-duration: 100ms;
                        transition-timing-function: ease-in-out;

                        &.selected {
                            background-color: _palette(windows-select);
                            border-color: _palette(windows-select-border);

                            p {
                                -webkit-line-clamp: 2;
                            }
                        }

                        >* {
                            pointer-events: none;
                        }

                        img {
                            width: 75px;
                            height: 75px;
                            margin: 0 auto;
                            border-radius: 5px;
                        }

                        p {
                            text-align: center;
                            color: _palette(fg);
                            text-shadow: 0 0 3px _palette(bg);
                            margin-top: 1px;
                            //
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            /* number of lines to show */
                            -webkit-box-orient: vertical;
                        }
                    }
                }
            }

            hr {
                border-color: _palette(bg-sidebar);
                border-width: 2px;
                border-radius: 5px;
                margin-left: 0.5em;
                margin-right: 0.5em;
            }
        }
    }
}