.properties-modal {
    .main {
        display: flex;

        img,
        .img-container {
            height: 3.5em;
            margin-right: 0.5em;
        }

        h1 {
            @extend .single-line;
            font-size: 1.25rem;
        }
    }

    .search-meta {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0.75em;
        text-align: left;

        hr {
            display: none;
        }
    }
}

div[class*="paletteContainer"] {
    transform: translateY(-0.5em);
}

div[class*="appContainer"] {
    height: 100%;
}
