$code-bg: #1a1a1a;
$code-fg: #c8c8c8;

.notes-viewer {

    .item {
        width: 100%;
        cursor: pointer;
        position: relative;
        opacity: 0.8;
        background-color: _palette(bg-sidebar);
        border-top: 1px solid _palette(bg-transparent-focused);
        border-left: 1px solid _palette(bg-transparent-focused);
        border-right: 1px solid _palette(bg-transparent-focused);

        &.selected {
            background-color: rgba(60, 145, 255, 0.3);
        }

        .item-content {
            position: relative;

            .sender-info {
                .first-row {
                    display: flex;

                    .from {
                        @extend .single-line;
                        flex-grow: 1;
                        font-size: 120%;
                    }

                    .date {
                        margin-top: 0.25em;
                    }
                }

                p {
                    @extend .single-line;
                    padding-right: 1em;
                    font-weight: 400;
                }
            }
        }
    }

    .content {
        padding-left: 0.75em;
        padding-right: 0.75em;
    }

    h1 {
        font-size: 2.75em;
        border-bottom: 2px solid $code-fg;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 2.25em;
        border-bottom: 1px solid $code-fg;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.75em;
    }

    h5 {
        font-size: 1.5em;
    }

    h6 {
        font-size: 1em;
    }

    hr {
        margin-bottom: 1em;
    }

    blockquote {
        padding: 10px 20px;
        margin: 0 0 20px;
        font-size: 17.5px;
        border-left: 5px solid $code-fg;
    }

    ol,
    ul {
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }

    pre {
        display: block;
        padding: 9.5px;
        margin: 0 0 10px;
        font-size: 13px;
        line-height: 1.42857143;
        color: $code-fg;
        word-break: break-all;
        word-wrap: break-word;
        background-color: $code-bg;
        border: 1px solid darken($code-bg, 25%);
        border-radius: 4px;
    }

    code {
        padding: 2px 4px;
        font-size: 90%;
        color: #c7254e;
        background-color: $code-bg;
        border-radius: 4px;
    }

    pre code {
        padding: 0;
        font-size: inherit;
        color: inherit;
        white-space: pre-wrap;
        background-color: transparent;
        border-radius: 0;
    }

    img {
        max-height: 5em;
        max-width: 5em;
    }
}