$iconWidth: 26;

.social-btn {
    display: block;
    height: 50px;
    width: 100%;
    border: 0px;
    border-radius: 3px;
    box-shadow: rgb(0, 0, 0 / 50%) 0px 1px 2px;
    cursor: pointer;
    font-size: 19px;
    margin: 0;
    overflow: hidden;
    padding-left: 10px;
    user-select: none;

    &:hover {
        box-shadow: unset;
    }

    .inner {
        align-items: center;
        display: flex;
        height: 100%;

        .icon {
            display: flex;
            justify-content: center;
            width: #{$iconWidth}px;
            margin-left: 3px;
            margin-right: #{$iconWidth / 2}px;
        }

        .text {
            @extend .single-line;
            padding-right: 5px;
            padding-bottom: 3px;
            text-align: left;
        }
    }

    &.github {
        color: #ffffff;
        background: #484848;
    }

    &.twitter {
        color: #ffffff;
        background: #5aa4eb;
    }

    &.discord {
        color: #ffffff;
        background: #7289da;
        cursor: unset;
    }

    &.youtube {
        color: #ffffff;
        background: #cc0000;
    }

    &.twitch {
        color: #ffffff;
        background: #9146ff;
    }

    &.linkedin {
        color: #ffffff;
        background: #1a81b9;
    }

    &.steam {
        color: #ffffff;
        background: linear-gradient(-60deg, #00adee, #007aa7);
    }

    &.mastodon {
        color: #ffffff;
        background: #282c37;
    }
}
