$textColor: rgba(255, 255, 255, 0.36);
$searchBarWidth: 628px;

.spotlight.layer {
    pointer-events: none;
    z-index: _zindex(spotlight);
}

#spotlight-wrapper {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    width: 100%;
}

.spotlight-bg {
    transition: background-color 500ms ease-in-out;

    &.isOpen {
        background-color: rgba(0, 0, 0, 0.3);
        pointer-events: all;
    }
}

.spotlight-group {
    width: $searchBarWidth !important;
    margin: auto;

    #spotlight {
        display: block;
        width: $searchBarWidth;
        height: 56px;
        margin: auto;
        border-radius: 5px;
        //   @include appearance(none);
        box-shadow: 0 25px 60px 10px rgba(0, 0, 0, 1);
        border: 1px solid rgba(0, 0, 0, 0.2);
        outline: none;
        font-size: 1.6rem;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        color: $textColor;
        background-color: _palette(bg);
        background-position: left 17px center;
        background-repeat: no-repeat;
        background-size: 3.5%;
        padding: 0 2.5em;
        text-align: center;

        &::-webkit-input-placeholder {
            text-align: center;
            color: $textColor;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            text-align: center;
            color: $textColor;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            text-align: center;
            color: $textColor;
        }

        &:-ms-input-placeholder {
            text-align: center;
            color: $textColor;
        }
    }
}

.spotlight-results-bg {
    background-color: _palette(bg);
    padding: 0 2em;
    margin-top: -5px !important;

    img {
        height: 50px;
        display: inline-block;
    }

    span {
        color: white;
        display: inline-block;
        margin-bottom: -1em;
        margin-left: 0.5em;
        font-size: 1.5em;
    }
}