$startmenu-padding-left: 15px;

.startmenu {
    position: absolute;
    bottom: #{$taskbar-height}em;
    width: 70vw;
    min-height: 80vh;
    padding: 10px $startmenu-padding-left 10px 15px;
    background-color: _palette(bg);
    display: flex;
    box-shadow: 0 0 3px #333;
    z-index: _zindex(startmenu);

    h3 {
        color: darken($base-fg, 25%);
        // text-align: center;
    }

    .list {
        flex: 2;
        border-right: 1px solid _palette(bg-sidebar);
        margin-right: 3em;
        position: relative;

        .profile {
            display: flex;
            align-items: center;
            color: $base-fg;

            .profile-pic {
                width: 50px;
                height: 50px;
                margin-right: 15px;
                background-color: _palette(bg);
                border-radius: 100%;
            }
        }

        .most-used-list {
            list-style-type: none;
            color: $base-fg;

            li {
                margin: 0.5em 0;

                img {
                    max-height: 35px;
                    display: inline-block;
                    margin-right: 1em;
                }
            }
        }

        .bottom-bar {
            position: absolute;
            bottom: 0;
            right: 0;
            left: -#{$startmenu-padding-left};
            display: flex;
            list-style-type: none;

            li {
                flex: 1;

                img {
                    max-height: 2em;
                    margin: 0 auto;
                }
            }
        }
    }

    .tiles-section {
        flex: 6;
        display: flex;
    }

    .tiles-section-content {
        flex: 1;

        .tiles-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-flow: row;
            margin-right: 15px;
            margin-left: -5px;
        }

        .tile-large {
            grid-area: span 2/span 2;
        }

        .tile-tall {
            grid-area: span 1/span 2;
        }

        .tile-wide {
            grid-area: span 2/span 1;
        }

        .tile-small {
            grid-area: span 1/span 1;
        }

        .tile {
            flex: 1;
            padding: 10px 10px;
            background: _palette(windows-select-border);
            margin: 5px;

            img {
                padding: 0 10px;
            }

            p {
                color: $base-fg;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                /* number of lines to show */
                -webkit-box-orient: vertical;
            }
        }
    }
}