$startmenu-padding-left: 15px;
$startmenu-width: 70;

.startmenu-bg {
    z-index: _zindex(startmenu);
}

.startmenu {
    position: absolute;
    bottom: -100vh;
    display: flex;
    width: #{$startmenu-width/3}vw;
    min-height: 70vh;

    @extend .glass-background;
    background-color: _palette(bg-transparent);
    box-shadow: 0 0 3px #333;

    overflow: hidden;
    transition: all 400ms ease-in-out;
    z-index: #{_zindex(startmenu) + 1};

    opacity: 0;

    &.isOpen {
        // bottom: 0;
        bottom: #{$taskbar-height}em;
        opacity: 1;
        width: #{$startmenu-width}vw;
    }

    h3 {
        color: darken($base-fg, 25%);
        // text-align: center;
    }

    .list {
        flex: 2;
        margin-right: 3em;
        position: relative;
        padding: 15px $startmenu-padding-left;
        border-right: 1px solid _palette(bg-sidebar);
        background-color: _palette(bg-transparent);

        .profile {
            display: flex;
            align-items: center;
            color: $base-fg;
            margin-left: -0.5em;
            padding: 0.5em 0.5em 0.5em 0.5em;
            border-radius: 10px;

            &:hover {
                background-color: darken(_palette(bg), 5%);
            }

            .profile-pic {
                width: 35px;
                height: 35px;
                margin-right: 15px;
                border-radius: 100%;
            }
        }

        .most-used-list {
            list-style-type: none;
            color: $base-fg;

            li {
                padding: 5px;
                margin: 0 0 0 -5px;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: darken(_palette(bg), 5%);
                }

                img {
                    max-height: 35px;
                    display: inline-block;
                    margin-right: 1em;
                }
            }
        }

        .bottom-bar {
            position: absolute;
            bottom: 0;
            right: 0;
            left: -#{$startmenu-padding-left};
            display: flex;
            list-style-type: none;

            li {
                flex: 1;

                img {
                    max-height: 2em;
                    margin: 0 auto;
                }
            }
        }
    }

    .tiles-section {
        flex: 7;
        display: flex;
    }

    .tiles-section-content {
        flex: 1;

        .tiles-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-flow: row;
            margin-right: 15px;
            margin-left: -5px;
        }

        .tile-large {
            grid-area: span 2/span 2;
        }

        .tile-tall {
            grid-area: span 1/span 2;
        }

        .tile-wide {
            grid-area: span 2/span 1;
        }

        .tile-small {
            grid-area: span 1/span 1;
        }

        .tile {
            flex: 1;
            margin: 5px;
            padding: 10px 10px;
            border-radius: 2px;
            background-color: _palette(windows-select-border);
            cursor: pointer;

            &.full {
                padding: 0;
                position: relative;

                img {
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    border-radius: 2px;
                }
            }

            img {
                padding: 0 10px;
            }

            p {
                color: $base-fg;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                /* number of lines to show */
                -webkit-box-orient: vertical;
            }
        }
    }
}