.sticky {
    margin: 0 20px 20px 0;
    padding: 25px 25px 40px;
    border: 0;
    border-radius: 3px;
    background: linear-gradient(#F9EFAF, #F7E98D);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.5s ease;
    font-smooth: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;

    width: 250px;
    max-width: 520px;
    min-height: 250px;

    &.tutorial {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: #{$desktopGridNumColumns - 1};
        grid-column-end: $desktopGridNumColumns;
        margin-top: 1em;
        margin-left: 0em;
        color: white;
        background: linear-gradient(#366c95, #275b83);
    }

    &:hover {
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
        cursor: grab;
    }

    &:focus {
        box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
        outline: none;
    }
}