.taskbar {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    // overflow: hidden;
    //
    @extend .glass-background;
    background: rgba(0, 0, 0, 0.30);
    // background: rgba(255, 255, 255, 0.2);
    height: #{$taskbar-height}em;
    z-index: _zindex(taskbar);

    .taskbar-highlight-on-hover {
        transition: background-color 250ms ease-in-out;

        &:hover {
            background-color: $taskbar-hover;
        }
    }

    .applet-shortcut {
        position: relative;
        width: #{$taskbar-height + 0.5}em;
        height: #{$taskbar-height}em;
        display: inline-block;
        margin: 0 5px 0 5px;
        cursor: pointer;
        padding-top: 7px;
        padding-bottom: 5px;

        &:first-child {
            margin-left: 0;
        }

        img {
            border-radius: 5px;
            height: #{$taskbar-height - 1.25}em;
            margin: 0 auto;
        }

        &:before {
            position: absolute;
            left: 50%;
            bottom: 5px;
            content: "";
            height: 4px;
            background-color: rgba(255, 255, 255, 0.85);
            border-radius: 4px;
            opacity: 0;
            transition: all 500ms ease-in-out;
            transition-property: opacity width;
        }

        &.open:before {
            width: #{$taskbar-bottom-highlight-background}px;
            margin-left: -#{$taskbar-bottom-highlight-background / 2}px;
            opacity: 0.7;
        }

        &.selected:before {
            width: #{$taskbar-bottom-highlight-focus}px;
            margin-left: -#{$taskbar-bottom-highlight-focus / 2}px;
            opacity: 1;
        }

        &.minimised:before {
            width: #{$taskbar-bottom-highlight-minimised}px;
            margin-left: -#{$taskbar-bottom-highlight-minimised / 2}px;
            opacity: 0.6;
        }

        &.initial:before {
            opacity: 0;
        }
    }

    .taskbar-tray,
    .taskbar-notification {
        float: right;
        height: #{$taskbar-height}em;
        color: _palette(fg);
        cursor: pointer;
    }

    .taskbar-notification {

        >div {
            height: #{$taskbar-height}em;
            padding: 0 0.5em;
        }

        svg {
            height: #{$taskbar-height / 2}em;
            width: #{$taskbar-height / 3}em;
        }
    }

    .taskbar-tray {
        // width: #{$taskbar-height * 2}em;
        padding: 0 1em 0 0.75em;

        p {
            text-align: center;
            line-height: 1.3em;
        }

        >div {
            height: 100%;
        }
    }
}

.taskbar-time {
    position: absolute;
    bottom: #{$taskbar-height}em;
    right: 0;
    display: inline-block;
    height: 0;
    color: _palette(fg);
    background-color: _palette(bg-transparent-focused);
    border-top-left-radius: 20px;
    transition: height 250ms ease-in-out;
    transition-property: height, padding, opacity;
    overflow-y: auto;
    @extend .hide-scrollbar;
    z-index: -1;
    opacity: 0;

    &.isOpen {
        height: 37em;
        max-height: 90vh;
        min-height: 50vh;
        opacity: 1;
    }


    .taskbar-time-current {
        padding: 0 1em 0.75em 1em;
        font-weight: 100;

        .time {
            font-size: 3em;
        }

        .date {
            padding-left: 0.5em;
        }
    }

    hr {
        margin-top: 0.5em;
        border-color: lighten(_palette(bg), 10%);
        background-color: lighten(_palette(bg), 10%);
        border-width: 1px;
    }

    .react-calendar {
        background-color: transparent;
        border: unset;
        padding: 1em 0.75em;

        abbr[title] {
            text-decoration: none;
        }

        .react-calendar__navigation__next2-button,
        .react-calendar__navigation__prev2-button {
            display: none;
        }

        .react-calendar__navigation {
            margin-bottom: 0.5em;
        }
    }

    .react-calendar__navigation button:enabled:hover,
    .react-calendar__navigation button:enabled:focus,
    .react-calendar__tile:enabled:hover,
    .react-calendar__tile:enabled:focus {
        background-color: _palette(bg-transparent);
    }

    .react-calendar__tile.react-calendar__tile--now.react-calendar__tile--active {
        border-radius: 5px;
    }

    .options {
        .option {
            display: flex;
            flex-direction: row;
            border: 2px dashed darken(_palette(fg), 30%);
            border-radius: 0.5em;
            cursor: pointer;

            .icon {
                width: 2em;

                svg {
                    max-height: 3em;
                    color: darken(_palette(fg), 20%);
                }
            }

            p {
                margin-left: 5px;
                font-size: 1.1rem;
                color: darken(_palette(fg), 10%);
            }
        }
    }
}

.taskbar-time-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.taskbar-battery {
    position: absolute;
    bottom: #{$taskbar-height}em;
    right: #{$taskbar-height}em;
    display: flex;
    height: 0;
    color: _palette(fg);
    padding-right: 1em;
    background-color: _palette(bg-transparent);
    border-radius: 20px;
    transition: height 250ms ease-in-out;
    transition-property: height, padding, opacity;
    overflow-y: hidden;
    z-index: -1;
    opacity: 0;

    &.isOpen {
        height: 5em;
        opacity: 1;
    }

    h1,
    svg {
        font-size: 3em;
        margin-left: 0.125em;
    }

    h1 {
        font-size: 2.75em;
    }
}