$window-border-radius: 5px;
$window-border-line: 3px;
$window-header-height: 30;
$window-header-explorer-height: 50;
$window-header-divider-space: 10;
$window-shadow: 4px 6px 10px 5px rgba(0, 0, 0, 0.5);
$window-no-shadow: 0px 0px 0px 0px transparent;

.handle,
svg.handle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15px;
    height: 15px;
    stroke: white;
    cursor: se-resize;
}

.window-on-top {
    box-shadow: $window-shadow;
    -webkit-box-shadow: $window-shadow;
    -moz-box-shadow: $window-shadow;
}

.window-manager {
    z-index: _zindex(window-base);
    pointer-events: none;

    >* {
        pointer-events: all;
    }

    .is-minimised {
        .react-draggable {
            pointer-events: none !important;
        }

        .handle {
            opacity: 0;
        }
    }

    .window:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 500ms ease-in-out;
        z-index: -1;
        @extend .window-on-top;
    }

    .react-draggable-dragging {
        z-index: _zindex(window-base);

        .window:after {
            opacity: 1;
        }
    }
}

.window {
    position: relative;
    background-color: _palette(bg-transparent);
    border: #{$window-border-line} solid _palette(bg-header);
    min-width: 400px;
    min-height: 300px;
    display: inline-block;
    box-sizing: content-box;
    border-radius: $window-border-radius;

    &.is-focused {
        background-color: _palette(bg-transparent-focused);
    }

    &.is-focused::after {
        opacity: 1;
    }

    >*,
    >*>* {
        color: _palette(fg);
    }

    .window-header {
        position: absolute;
        top: -#{$window-border-line};
        left: -#{$window-border-line};
        right: -#{$window-border-line};
        width: 100%;
        height: #{$window-header-height}px;
        box-sizing: content-box;
        background-color: _palette(bg-header);
        border-top-left-radius: $window-border-radius;
        border-top-right-radius: $window-border-radius;
        border: #{$window-border-line} solid _palette(bg-header);

        .window-icon {
            position: absolute;
            top: 0;
            left: 1px;
            height: 100%;

            img {
                height: 100%;
                border-radius: 3px;
            }
        }

        .content {
            width: 100%;
            text-align: center;
            color: _palette(fg);
            margin-top: 2px;
        }

        .window-actions {
            position: absolute;
            top: 4px;
            right: 10px;

            .window-buttons {
                padding-top: 3px;
                line-height: 0px;

                a {
                    text-decoration: none;
                    padding-left: 2px;

                }

                &:hover a {
                    visibility: visible;
                }
            }
        }

        &.explorer {
            display: flex;
            flex-direction: row;
            height: #{$window-header-explorer-height}px;

            .v-divider {
                display: inline-block;
                border-left: 2px solid _palette(bg-divider);
                margin-top: #{$window-header-divider-space / 2}px;
                height: #{$window-header-explorer-height - $window-header-divider-space}px;

                &.icon-space {
                    margin-left: #{$window-header-explorer-height + $window-header-divider-space}px;
                    margin-right: #{$window-header-divider-space}px;
                }
            }

            .icon-button {
                position: relative;
                display: inline-block;
                height: #{$window-header-explorer-height - $window-header-divider-space}px;
                min-width: #{$window-header-explorer-height - $window-header-divider-space}px;
                margin: #{$window-header-divider-space / 2}px #{$window-header-divider-space / 2}px #{$window-header-divider-space / 2}px #{$window-header-divider-space / 2}px;
                background-color: _palette(bg-transparent);
                border-radius: $window-border-radius;
                opacity: 1;

                &:hover {
                    opacity: 0.8;
                }

                &.disabled {
                    opacity: 0.4;
                }

                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .content {
                padding-right: 80px;
                overflow: hidden;
                max-height: #{$window-header-explorer-height}px;
            }
        }
    }

    .window-content {
        position: relative;
        margin-top: #{$window-header-height + 3}px;
        padding-bottom: #{$window-header-height}px;
        max-height: calc(100% - #{$window-header-height + 3}px);
        overflow: hidden auto;
        z-index: 0;

        &.full-content,
        &.full-content>* {
            width: 100%;
            height: 100%;
            padding-bottom: 0;
        }

        .pos-abs-top-left {
            position: absolute;
            top: 0;
            left: 0
        }

        &.explorer {
            margin-top: #{$window-header-explorer-height + 3}px;
            height: calc(100% - #{$window-header-explorer-height + 3}px);
            padding-bottom: 0;
        }

        .window-with-sidebar {
            display: flex;
            height: 100%;

            .sidebar {
                width: 200px;
                border-right: 3px solid _palette(bg-sidebar);

                .item {
                    padding: 1em;
                    background-color: _palette(bg);
                }
            }

            .offset-content {
                //
            }
        }
    }
}

.settings-about {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: _palette(bg);
    border-radius: 100%;

    .chakra-spinner {
        position: absolute;
        top: calc(50% - 24px);
    }
}

.terminal {

    .react-terimnal-app {
        overflow: hidden;
        margin: 0 !important;

        .sc-pNWdM,
        .kGAbsr {
            display: none;
        }

        .sc-dlnjwi,
        .bfXWqo {
            padding-top: 0;
        }

        // .hqwNgP,
        // .sc-gKAaRy,
        // .sc-gKAaRy.hqwNgP {
        //     font-size: 2em;
        //     line-height: 1em;
        // }

        .sc-pNWdM,
        .kGAbsr,
        .sc-gtsrHT,
        .huxEFV {
            max-height: 100%;
        }

        .enter-done,
        .enter-active,
        .enter.enter-active,
        .exit,
        .exit.exit-active {
            margin-block-end: 0;
            margin-block-start: 0;
        }
    }

    // .Terminal-window {
    //     overflow: hidden;
    // }

    // .Terminal-header,
    // .Terminal-control-btn {
    //     display: none;
    // }
}