$window-border-radius: 5px;
$window-border-line: 3px;
$window-header-height: 30;

.handle,
svg.handle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15px;
    height: 15px;
    stroke: white;
    cursor: se-resize;
}

.window-manager {
    z-index: _zindex(window-base);
    pointer-events: none;

    >* {
        pointer-events: all;
    }

    .react-draggable-dragging {
        z-index: _zindex(window-base);
    }
}

.window {
    position: relative;
    background-color: _palette(bg-transparent);
    border: #{$window-border-line} solid _palette(bg-header);
    min-width: 400px;
    min-height: 300px;
    display: inline-block;
    box-sizing: content-box;
    border-radius: $window-border-radius;

    &.is-focused {
        background-color: _palette(bg-transparent-focused);
    }

    >*,
    >*>* {
        color: _palette(fg);
    }

    .window-header {
        position: absolute;
        top: -#{$window-border-line};
        left: -#{$window-border-line};
        right: -#{$window-border-line};
        width: 100%;
        min-height: #{$window-header-height}px;
        box-sizing: content-box;
        background-color: _palette(bg-header);
        border-top-left-radius: $window-border-radius;
        border-top-right-radius: $window-border-radius;
        border: #{$window-border-line} solid _palette(bg-header);

        .window-icon {
            position: absolute;
            top: 0;
            left: 1px;
            height: 100%;

            img {
                height: 100%;
                border-radius: 3px;
            }
        }

        .content {
            width: 100%;
            text-align: center;
            color: _palette(fg);
            margin-top: 2px;
        }

        .window-actions {
            position: absolute;
            top: 4px;
            right: 10px;

            .window-buttons {
                padding-top: 3px;
                line-height: 0px;

                a {
                    text-decoration: none;
                    padding-left: 2px;

                }

                &:hover a {
                    visibility: visible;
                }
            }
        }
    }

    .window-content {
        margin-top: #{$window-header-height + 4}px;
        padding-bottom: #{$window-header-height}px;
        max-height: calc(100% - #{$window-header-height + 4}px);
        overflow: hidden auto;

        &.full-content,
        &.full-content>* {
            width: 100%;
            height: 100%;
            padding-bottom: 0;
        }
    }
}

.settings-about {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: _palette(bg);
    border-radius: 100%;

    .chakra-spinner {
        position: absolute;
        top: calc(50% - 24px);
    }
}