$window-border-radius: 5px;
$window-border-line: 3px;
$window-header-height: 30;
$window-header-explorer-height: 50;
$window-header-divider-space: 10;
$window-shadow: 4px 6px 10px 5px rgba(0, 0, 0, 0.5);
$window-no-shadow: 0px 0px 0px 0px transparent;

.handle,
svg.handle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15px;
    height: 15px;
    stroke: white;
    cursor: se-resize;
    pointer-events: all;
}

.window-manager {
    z-index: _zindex(window-base);
    pointer-events: none;

    // >* {
    //     pointer-events: unset;
    // }

    >div {
        width: 1px;
        height: 1px;
    }

    .react-resizable,
    .react-resizable .window {
        transition: transform 500ms ease-in-out;
        transition-property: transform, width, height;
    }

    .is-minimised {
        .react-draggable {
            pointer-events: none !important;
        }

        .handle {
            opacity: 0;
        }

        * {
            pointer-events: none !important;
        }
    }

    .is-maximised {
        .react-resizable {
            transform: translate(0, 0) !important;
            width: 100vw !important;
            height: calc(100vh - #{$taskbar-height}em) !important;
        }

        .window {
            width: calc(100vw - #{$window-border-line * 2}) !important;
            height: calc(100vh - #{$taskbar-height}em - #{$window-border-line * 2}) !important;
            border-radius: 0;
        }

        .handle {
            display: none;
        }
    }

    .window:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        // opacity: 0;
        transition: all 500ms ease-in-out;
        z-index: -1;

        box-shadow: $window-shadow;
        -webkit-box-shadow: $window-shadow;
        -moz-box-shadow: $window-shadow;
    }
}

.react-draggable-transparent-selection .window-manager .react-resizable,
.react-draggable-transparent-selection .window-manager .react-resizable .window,
.window-manager .react-draggable-dragging {
    transition: none;
    // z-index: _zindex(window-base);
    // TODO This might be important 🤷‍♂️
}

.window {
    position: relative;
    background-color: _palette(bg-transparent);
    border: #{$window-border-line} solid _palette(bg-header);
    min-width: 400px;
    min-height: 300px;
    display: inline-block;
    box-sizing: content-box;
    border-radius: $window-border-radius;
    pointer-events: all;

    &.is-focused {
        background-color: _palette(bg-transparent-focused);
    }

    >*,
    >*>* {
        color: _palette(fg);
    }

    .window-header {
        position: absolute;
        top: -#{$window-border-line};
        left: -#{$window-border-line};
        right: -#{$window-border-line};
        width: 100%;
        height: #{$window-header-height}px;
        box-sizing: content-box;
        background-color: _palette(bg-header);
        border-top-left-radius: $window-border-radius;
        border-top-right-radius: $window-border-radius;
        border: #{$window-border-line} solid _palette(bg-header);
        pointer-events: all;

        .window-icon {
            display: inline-block;
            height: 100%;
            margin-left: 1px;
            margin-right: 0.2em;

            img {
                height: 100%;
                border-radius: 3px;
            }
        }

        .window-info {
            display: inline-block;
            height: 100%;
            padding-top: 2px;
            padding-left: 0.5em;
            padding-right: 0.5em;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: darken(_palette(bg), 2%);
            }

            svg {
                display: block;
                height: 100%;
            }
        }

        .popover-custom {
            background-color: lighten(_palette(bg), 5%) !important;
        }

        .content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            margin-top: 2px;
            text-align: center;
            color: _palette(fg);
            pointer-events: none;
        }

        .window-actions {
            position: absolute;
            top: 4px;
            right: 10px;

            .window-buttons {
                padding-top: 3px;
                line-height: 0px;

                a {
                    text-decoration: none;
                    padding-left: 2px;

                }

                &:hover a {
                    visibility: visible;
                }
            }
        }
    }

    .window-content {
        position: relative;
        margin-top: #{$window-header-height + 3}px;
        padding-bottom: #{$window-header-height}px;
        max-height: calc(100% - #{$window-header-height + 3}px);
        overflow: hidden auto;
        z-index: 0;
        pointer-events: all;

        &.full-content,
        &.full-content>div,
        &.full-content>iframe {
            width: 100%;
            height: 100%;
            padding-bottom: 0;
        }
    }
}

.settings-about {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: _palette(bg);
    border-radius: 100%;

    .chakra-spinner {
        position: absolute;
        top: calc(50% - 24px);
    }
}

.terminal {
    display: inline-block;

    .react-terimnal-app {
        overflow: hidden;
        margin: 0 !important;

        .sc-pNWdM,
        .kGAbsr {
            display: none;
        }

        .sc-dlnjwi,
        .bfXWqo {
            padding-top: 0;
        }

        // .hqwNgP,
        // .sc-gKAaRy,
        // .sc-gKAaRy.hqwNgP {
        //     font-size: 2em;
        //     line-height: 1em;
        // }

        .sc-pNWdM,
        .kGAbsr,
        .sc-gtsrHT,
        .huxEFV {
            max-height: 100%;
            margin-top: 0;
            padding-top: 10px;
            background-color: transparent;
        }

        .enter-done,
        .enter-active,
        .enter.enter-active,
        .exit,
        .exit.exit-active {
            margin-block-end: 0;
            margin-block-start: 0;
        }
    }

    // .Terminal-window {
    //     overflow: hidden;
    // }

    // .Terminal-header,
    // .Terminal-control-btn {
    //     display: none;
    // }
}

.img-viewer img {
    max-height: 100%;
}

.css-v9b9hc,
.chakra-modal__content-container,
.chakra-modal__content-container.css-v9b9hc {
    z-index: 20000;
}