// Base
@import './_var.scss';
@import './_functions.scss';
//
@import './custom/_base.scss';
@import './custom/_scrollbar.scss';
// @import './custom/_loader.scss';
@import './custom/_socialButton.scss';
@import './custom/_image.scss';
@import './custom/_drawer.scss';
@import './custom/_spotlight.scss';
@import './custom/_startmenu.scss';
@import './custom/_taskbar.scss';
@import './custom/_desktop.scss';
@import './custom/_sticky.scss';
@import './custom/_window.scss';
@import './custom/_windowSidebar.scss';
@import './custom/_explorer.scss';
@import './custom/_email.scss';
@import './custom/_notes.scss';
@import './custom/_liveTv.scss';
@import './custom/_fireworks.scss';

.react-draggable {
    // display: inline-block;
    position: absolute;
    z-index: inherit;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

a {
    color: #428bca !important;
}

.chakra-portal {
    color: lightgray;
}

.m-h-1 {
    margin: 0 1em;
}

.m-h-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt0-5 {
    margin-top: 0.5em;
}

.mt1 {
    margin-top: 1em;
}

.mt3 {
    margin-top: 3em;
}

.mb1 {
    margin-bottom: 1em;
}

.p1 {
    padding: 1em;
}

.pos-abs-top-left {
    position: absolute;
    top: 0;
    left: 0
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    z-index: 20000 !important;
}

.fullscreen.initial.fade {
    pointer-events: none;
}

.clippy,
.clippy-balloon {
    position: absolute;
    top: 1em !important;
    right: 1em !important;
    left: unset !important;
    z-index: 30000 !important;
}

.ril-image-current {
    max-height: 100%;
}

.Toastify {
    .Toastify__toast-container--bottom-right {
        bottom: 4em;
    }

    .Toastify__progress-bar--dark {
        background-color: _palette(accent);
    }

    .Toastify__toast--dark {
        background-color: #2c2c2c;
    }
}