// Base
@import './_var.scss';
@import './_functions.scss';
//
@import './custom/_base.scss';
@import './custom/_book.scss';
@import './custom/_scrollbar.scss';
// @import './custom/_loader.scss';
@import './custom/_yellowPages.scss';
@import './custom/_socialButton.scss';
@import './custom/_misc.scss';
@import './custom/_image.scss';
@import './custom/_drawer.scss';
@import './custom/_terminal.scss';
@import './custom/_spotlight.scss';
@import './custom/_startmenu.scss';
@import './custom/_taskbar.scss';
@import './custom/_desktop.scss';
@import './custom/_sticky.scss';
@import './custom/_window.scss';
@import './custom/_windowSidebar.scss';
@import './custom/_explorer.scss';
@import './custom/_email.scss';
@import './custom/_notes.scss';
@import './custom/_liveTv.scss';
@import './custom/_fireworks.scss';
@import './custom/_virusScan.scss';

.react-draggable {
    // display: inline-block;
    position: absolute;
    z-index: inherit;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    z-index: 20000 !important;
}

.fullscreen.initial.fade {
    pointer-events: none;
}

.clippy,
.clippy-balloon {
    position: absolute;
    top: 1em !important;
    right: 1em !important;
    left: unset !important;
    z-index: 30000 !important;
}

.ril-image-current {
    max-height: 100%;
}

.Toastify {
    .Toastify__toast-container--bottom-right {
        bottom: 4em;
    }

    .Toastify__progress-bar--dark {
        background-color: _palette(accent);
    }

    .Toastify__toast--dark {
        background-color: #2c2c2c;
    }
}


ul.MuiList-root.MuiMenu-list {
    min-width: 150px;

    .MuiMenuItem-root.MuiListItem-button.important {
        color: rgb(206, 0, 0);
    }

    .MuiMenuItem-root.MuiListItem-button.disabled {
        text-decoration: line-through;
        text-decoration-color: rgba(255, 255, 255, 0.5);
    }

    hr {
        border-color: rgba(150, 150, 150, 0.5);
        margin: 0.25em 0;
    }
}